In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'f0':[1.0, 0.2, 0.0], 'f1':[0.0, 0.6, 0.0], 'f2':[0.0, 0.2, 1.0]})

In [5]:
#df['m'] = max(df['f0'],df['f1'],df['f2'])
#df['m'] = (3*df.max(axis=1)-1)/2
fs_labels = ['f0','f1']
df['m'] = df[fs_labels].max(axis=1)

In [6]:
df

    f0   f1   f2    m
0  1.0  0.0  0.0  1.0
1  0.2  0.6  0.2  0.6
2  0.0  0.0  1.0  0.0