In [1]:
import json

In [4]:
f=open('1.json')
x = f.read()
data = json.loads(x)
    
for i in range (len(data)):
    print(data[i]["ticks"])
    for j in range (len(data[i]["bot_states"])):
            #print(data[i]["bot_states"][j]["x_position"])
            #print(data[i]["bot_states"][j]["y_position"])
            #print(data[i]["bot_states"][j]["direction"])
            #print(data[i]["bot_states"][j]["ID"])

IndentationError: expected an indented block (1442642385.py, line 11)

In [ ]:
'Data esta distribu√Øt en ["ticks"] (que dona el temps) i en ["bot_states"] on en aquests pots trobar x,y,direction i ID'

In [5]:
import pandas as pd

In [6]:
df=pd.read_json('1.json')

In [7]:
df.head()

                                          bot_states  ticks
0  [{'ID': 0, 'direction': -0.7853981852531431, '...      0
1  [{'ID': 0, 'direction': -0.7853981852531431, '...      8
2  [{'ID': 0, 'direction': -0.7853981852531431, '...     17
3  [{'ID': 0, 'direction': -0.7853981852531431, '...     25
4  [{'ID': 0, 'direction': -0.7853981852531431, '...     34

In [11]:
with open('1.json', 'r') as f:
    data = json.loads(f.read())
    
# Faltten data:
df_nested_list = pd.json_normalize(data, record_path='bot_states', meta='ticks')

In [12]:
df_nested_list.head(40)

    ID  direction  x_position  y_position ticks
0    0  -0.785398   -0.047259    0.047259     0
1    1  -0.785398   -0.068855   51.635520     0
2    2   0.112200   40.325149   32.228547     0
3    3   1.009798   50.273781  -11.474664     0
4    4   1.907396   22.436756  -46.481948     0
5    5   2.804993  -22.345093  -46.542400     0
6    6   3.702591  -50.319158  -11.546883     0
7    7   4.600189  -40.426842   32.138845     0
8    8  -0.785398   -0.066041  103.199373     0
9    9  -0.336599   44.717820   93.005813     0
10  10   0.112200   80.642556   64.388377     0
11  11   0.560999  100.595295   23.025285     0
12  12   1.009798  100.634466  -22.894722     0
13  13   1.458597   80.707007  -64.294223     0
14  14   1.907395   44.827581  -92.947802     0
15  15   2.356194    0.065095 -103.198411     0
16  16   2.804993  -44.722839  -92.991424     0
17  17   3.253792  -80.640165  -64.367390     0
18  18   3.702591 -100.576562  -22.995487     0
19  19   4.151391 -100.603339   22.914288     0
20  20   4.600190  -80.723103   64.292437     0
21  21   5.048989  -44.835484   92.950615     0
22  22  -0.785398   -0.068493  154.768490     0
23  23  -0.486199   45.555247  147.909179     0
24  24  -0.187000   87.124615  127.930116     0
25  25   0.112200  120.958833   96.538251     0
26  26   0.411399  144.031505   56.576331     0
27  27   0.710598  154.321243   11.623268     0
28  28   1.009798  150.890578  -34.380499     0
29  29   1.308997  134.091221  -77.318629     0
30  30   1.608196  105.293163 -113.405766     0
31  31   1.907396   67.179109 -139.399953     0
32  32   2.206595   23.117397 -153.016852     0
33  33   2.505794  -23.005119 -153.042247     0
34  34   2.804994  -67.095141 -139.456194     0
35   0  -0.785398   -1.465032    1.465032     8
36   1  -0.785398   -2.134494   53.701159     8
37   2   0.112200   40.586290   34.546234     8
38   3   1.009798   50.273781  -11.474664     8
39   4   1.907396   24.321484  -47.141443     8

In [13]:
pd.unique(df_nested_list['ticks'])

array([0, 8, 17, ..., 23840, 23849, 23857], dtype=object)

In [47]:
len(df_nested_list)/35

2820.0

In [48]:
len(pd.unique(df_nested_list['ticks']))

2820

In [53]:
ids = pd.unique(df_nested_list['ID'])
Nbots = len(ids)
print(Nbots)

35

In [58]:
from collections import Counter
count = Counter(list(df_nested_list.loc[df_nested_list['ID']==0]['ticks']))

In [61]:
# is there any tick with more than 1 config?
ticks_plus1_configs = []
for k,v in count.items():
    if v>1:
        ticks_plus1_configs.append(k)
        
if(ticks_plus1_configs):
    print(f"There are {len(ticks_plus1_configs)} ticks with more than 1 config")

In [64]:
i = 1
dfconfig = df_nested_list.loc[(i*Nbots):(i*Nbots+Nbots-1)]

In [66]:
dfconfig.reset_index(drop=True)

    ID  direction  x_position  y_position ticks
0    0  -0.785398   -1.465032    1.465032     8
1    1  -0.785398   -2.134494   53.701159     8
2    2   0.112200   40.586290   34.546234     8
3    3   1.009798   50.273781  -11.474664     8
4    4   1.907396   24.321484  -47.141443     8
5    5   2.804993  -21.479696  -49.015563     8
6    6   3.702591  -51.680458  -13.713381     8
7    7   4.600189  -43.738653   31.765693     8
8    8  -0.785398   -2.047283  105.180614     8
9    9  -0.336599   43.816178   95.582560     8
10  10   0.112200   80.932558   66.962218     8
11  11   0.560999  102.027295   25.304301     8
12  12   1.009798  103.241591  -21.256557     8
13  13   1.458597   82.930566  -64.043688     8
14  14   1.907395   47.218539  -93.784434     8
15  15   2.356194    2.017476 -105.150791     8
16  16   2.804993  -43.972324  -95.136271     8
17  17   3.253792  -80.859150  -66.310940     8
18  18   3.702591 -101.446571  -24.380099     8
19  19   4.151391 -102.276671   21.862865     8
20  20   4.600190  -83.430207   63.987421     8
21  21   5.048989  -47.464997   93.870723     8
22  22  -0.785398   -2.123283  156.823279     8
23  23  -0.486199   44.253886  150.371473     8
24  24  -0.187000   86.494623  131.259703     8
25  25   0.112200  121.244048   99.069610     8
26  26   0.554342  146.451429   58.253128     8
27  27   0.710598  155.935757   13.499368     8
28  28   1.009798  152.967886  -33.075241     8
29  29   1.308997  137.604223  -76.377324     8
30  30   1.608196  107.406754 -113.484851     8
31  31   1.907396   68.898500 -140.001594     8
32  32   2.206595   24.934981 -154.358291     8
33  33   2.505794  -21.452485 -155.145992     8
34  34   2.804994  -66.293904 -141.746001     8